<div class="d-flex align-items-center mb-4">
  <div class="btn-group me-3">
    <button type="button" class="btn btn-outline-purple rounded-circle me-sm-2" routerLink="/students/new">
      <span aria-label="Add new student"><i class="fas fa-plus"></i></span>
    </button>
    <button type="button" class="btn btn-outline-info rounded-circle" (click)="refresh()">
      <span aria-label="Refresh students list"><i class="fas fa-sync-alt"></i></span>
    </button>
  </div>

  <h1 class="mb-0">Students <span class="badge badge-purple">{{students.length}}</span></h1>
</div>

<app-student-card-list [students]="students">
