<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <div class="d-flex align-items-center mb-4">
    <div class="btn-group me-3">
      <button type="button" class="btn btn-outline-purple rounded-circle" (click)="goBack()">
        <span aria-label="Go back to students list"><i class="fas fa-arrow-left"></i></span>
      </button>
      <button type="submit" class="btn btn-outline-success rounded-circle mx-sm-2" [disabled]="!studentForm.valid">
        <span aria-label="Save student"><i class="fas fa-check-double"></i></span>
      </button>
      <button type="button" class="btn btn-outline-danger rounded-circle" (click)="onDelete()">
        <span aria-label="Delete student"><i class="fas fa-trash"></i></span>
      </button>
    </div>

    <h1 class="mb-0">Edit Student</h1>
  </div>

  <div class="row g-3">
    <div class="mb-3 col-sm-4">
      <label for="course">Course</label>
      <select id="course" class="form-select" formControlName="courseId">
        <option [ngValue]="undefined" selected>Select</option>
        <option [ngValue]="course.id" *ngFor="let course of courses">{{course.name}}</option>
      </select>
    </div>

    <div class="mb-3 col-sm-8">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name...">
    </div>
  </div>

  <div class="mb-3">
    <label for="email">Email</label>
    <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email...">
  </div>

  <div class="row g-3">
    <div class="mb-3 col-md-4">
      <label for="birthday">Birthday</label>
      <input type="date" id="birthday" class="form-control" formControlName="birthday">
    </div>
  </div>
</form>
